@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This project lets you enter movies you've seen and discover new ones.
    Start by <a href="/SeenMovie">entering movies you've seen</a></p>
</div>
